serverIp = 127.0.0.1
serverPort = 9010
vrcIp = 127.0.0.1
vrcPort = 9001
    
#JadeTech Arousal System {version}

#Do not remove this template. All user configs should be numbered 1 and higher

0 {
    name=template
    
    #Supports up to 2 arousal messages separated by commas. start value of the first is always 0 - 1.0, start value of the second will be configurable in future
    arousal_messages=example1, example2
    
    #VRC parameter name, sometimes needs to be the VRCFury active parameter name (Available from OSCGB in avatar debug)
    #Parameters:
    pre=example_parameter
    sps=example_parameter
    aroused=example_parameter
    erect=example_parameter
    throb=example_parameter
    
    #OSC listener messages - One per line, separate the ID from the message with a comma
    #These can be retrieved from the OSCGB debug menu. These are the touch zones or penetrators you want this system to watch
    #OSC Message types: 1 - Velocity, 3 - Touchzones
    /avatar/parameters/VFH/Zone/Touch/Balls_Touched, 3
    /avatar/parameters/OGB/Pen/Knot, 1

}
    